<p>Olá <%= @message.user.name %>,</p>
<p>Você recebeu uma nova mensagem sobre sua ficha <%= @message.ficha.group.matter.code %> - <%= @message.ficha.group.name %>.</p>
<p>---------------------------------------</p>
<p> <%= @message.message %> </p>
<p>---------------------------------------</p>
<p>Atenciosamente,</p>
<p>Comissão EncarDida.</p>
