<p>Olá <%= @user.name %>,</p>
<p>Você foi escolhido para lecionar a turma <%= @group.name %> - <%= @group.matter.name %>.</p>
<p>Agora você precisa preencher sua ficha2</p>
<p>Basta entrar no sistema, ir no menu "Fichas" e clicar na opção onde diz "Suas" para visualizar suas fichas.</p>
<p>Enquanto você não preencher todos os campos, a ficha ficará com o status "Editando".</p>
<p>A partir do momento que tudo foi preenchido, a ficha é enviada para avaliação.</p>
<p>Clique no link abaixo para visualizar a imagem com as instruções</p>
