<p>Olá <%= @user.name %>,</p>
<p>Você foi escolhido para lecionar a turma <%= @group.name %> - <%= @group.matter.name %>.</p>
<p>Agora você precisa preencher sua ficha2</p>
<p>Basta entrar no sistema em <a href="https://388793e1.ngrok.io/">Sistema Encargos Didáticos</a>, realizar login com sua conta, ir no menu <b>"Fichas"</b> e clicar na opção onde diz <b>"Suas"</b> para visualizar suas fichas.</p>
<p>Para preencher uma ficha, clique em <b>"Editar"</b>.</p>
<p>Enquanto você não preencher todos os campos, a ficha ficará com o status "Editando".</p>
<p>A partir do momento que tudo for preenchido, a ficha é enviada para avaliação.</p>
<p>Imagem 01 para entrar no menu "Fichas": <a href="https://imgur.com/JJVVjeh">Imagem 01</a></p>
<p>Imagem 02 para achar o botão "Suas": <a href="https://imgur.com/jNAktTI">Imagem 02</a></p>
<p>Atenciosamente, equipe EncarDida.</p>
