<p>Bem-vindo <%= @user.name %>!</p>

<p>Sua conta para o sistema Ficha2 do Departamento de Matemática da UFPR foi cruada com sucesso.</p>
<p>Seu email de acesso é <%= @user.email %></p>
<p>Sua senha de acesso é <%= @user.password %></p>
