<p>Olá <%= @user.name %>,</p>
<p>segue o link para acesso ao sistema EncarDida - Encargos Didáticos.</p>
<p>Link: https://8d174b9c.ngrok.io</p>
<p>Login <%= @user.email %></p>
<p>Senha <%= @user.password %></p>
<p>Recomenda-se mudar a senha no primeiro acesso.</p>
<p>O sistema ficará disponível até às 9h de terça-feira.</p>
<p>O sistema é bastante novo e podem aparecer erros, por favor comunique-os assim que possível.</p>
<p>O estagiário Filipe estará na sala 306 das 9h-12h30 e 13h30-15h30 hoje e segunda, e pode ajudar os que precisarem.</p>
<p>Abraços,</p>
<p>Comissão EncarDida</p>
