<p>Olá <%= @user.name %>,</p>

<p>segue link para acesso ao sistema EncarDida. Esse é, espero, o teste final.</p>
<p>Se der tudo certo,</p>
<p>suas escolhas serão mantidas,</p>
<p>isto é, não será necessário que você escolha suas disciplinas novamente. Peço que troque sua senha assim que acessar o sistema.</p>
<p>Login <%= @user.email %></p>
<p>Senha <%= @user.password %></p>
<p>Acesse em: https://024e87c9.ngrok.io</p>
<p>Abraço,</p>
<p>Comissão EncarDida</p>
