<div class="form-group">
  <%= label "matter", t('matter'), :class => 'control-label col-md-2' %>

  <div class="col-md-9">


    <%= select_tag('unite_matter_matters', options_from_collection_for_select(matters_no_united, 'id', 'code_with_name'), prompt: "Selecione uma disciplina", :class => 'form-control width2') %>
    <% if !@show %>
      <div class="addAnother">
        <%= link_to new_button.html_safe, add_unite_matters_path(@unite_matter, 0),
        :class => 'btn btn-primary btn-sm juntar',
        :id => 'add_matter',
        title: 'Adicionar Disciplina', 'data-toggle' => 'tooltip', 'data-placement' => 'right', :remote => true %>
      </div>
    <% end %>
  </div>
</div>
