<%- model_class = UniteMatter -%>

<div class="page-header noMarginTop padraoHeader2">

  <center><h1><span class="<%=index_icon(unite_matters_icon)%>"></span> <%=t('unite_matters')%></h1></center>


</div>

<div id="unite_matters_partial" class="marginBottom">
  <%= render 'unite_matters' %>
</div>

<p id="notice"><%= notice %></p>
