<%- model_class = UniteMatter -%>

<div class="page-header noMarginTop padraoHeader2">
  <h1 class="center"><span class="<%=index_icon(unite_matters_icon)%>"></span> <%=t('unite_matters')%></h1>
</div>

<div id="unite_matters_partial" class="marginBottom">
  <%= render 'unite_matters' %>
</div>
