<%- model_class = UniteMatter -%>

<div class="page-header no-mt-mb pattern-header">
  <h1 class="center"><span class="<%=index_icon(unite_matters_icon)%>"></span> <%=t('unite_matters')%></h1>
</div>

<div id="unite_matters_partial" class="mb-15pc">
  <%= render 'unite_matters' %>
</div>
