<%- model_class = UniteMatter -%>

<div class="page-header no-mt-mb">

  <h1 class="center"><span class="<%=index_icon(unite_matters_icon)%>"></span> <%=t('unite_matters')%></h1>

  <!-- Colocar pesquisa aqui... -->
  <div style="height: 35px;"></div> <!-- tirar isso -->

</div>

<div id="unite_matters_partial" class="partial-content">
  <%= render 'unite_matters' %>
</div>
