<h1 class="center"><span class="<%=index_icon(unite_matters_icon)%>"></span>Nova União</h1>

<% new_unite_matter %>

<%= render 'form', unite_matter: @unite_matter %>

<%= link_to 'Voltar', unite_matters_path, :class => 'btn btn-default' %>
