<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unite_matter.name %>
</p>

<%= link_to 'Edit', edit_unite_matter_path(@unite_matter) %> |
<%= link_to 'Back', unite_matters_path %>
