<div class="form-group">
  <%= label "group", t('group'), :class => 'control-label col-xs-2' %>

  <div class="col-xs-9 width3">


    <%= select_tag('unite_group_groups', options_from_collection_for_select(groups_no_united, 'id', 'code_with_group_and_name'), prompt: "Selecione uma turma", :class => 'form-control width2') %>
    <% if !@show %>
      <div class="addAnother">
        <%= link_to new_button.html_safe, add_unite_groups_path(@unite_group, 5),
        :class => 'btn btn-primary btn-sm juntar',
        :id => 'add_group',
        title: 'Adicionar Disciplina', 'data-toggle' => 'tooltip', 'data-placement' => 'right', :remote => true %>
      </div>
    <% end %>
  </div>
</div>
