
<%if !groups_no_united.blank? %>
  <div id="select_group_partial">
    <%= render 'groups_selector' %>
  </div>
<% else %>

  <div class="form-group">
    <%= label "group", t('group'), :class => 'control-label col-xs-2' %>
    <div class="col-xs-10 empty-groups">
      <span class="form-control width2" readonly="true" >Nenhuma turma disponível</span>
    </div>
  </div>

<% end %>

<div id="united_groups_partial">
  <%= render 'united_groups' %>
</div>
