	<div class="modal fade" id="modalUnite">
		<div class="modal-dialog modal-sg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modalUnite">&times;</button>
					<h3 style="text-align: center"><span class="<%=index_icon(group_icon)%>"></span> <%=t('unite_matters')%></h3>
				</div>
				<div class="modal-body">
					<%= render '/unite_groups/form' %>
				</div>
			</div>
		</div>
	</div>
