<%- model_class = UniteGroup -%>

<div class="page-header no-mt-mb">

  <h1 class="center"><span class="<%=index_icon(unite_groups_icon)%>"></span> <%=t('unite_groups')%></h1>

  <!-- Colocar pesquisa aqui... -->
  <div style="height: 35px;"></div> <!-- tirar isso -->

</div>

<div id="unite_groups_partial" class="partial-content">
  <%= render 'unite_groups' %>
</div>
