<%- model_class = UniteGroup -%>

<div class="page-header noMarginTop padraoHeader2">

  <center><h1><span class="<%=index_icon(unite_groups_icon)%>"></span> <%=t('unite_groups')%></h1></center>

</div>

<div id="unite_groups_partial" class="marginBottom">
  <%= render 'unite_groups' %>
</div>

<p id="notice"><%= notice %></p>
