<center><h1><span class="<%=index_icon(unite_groups_icon)%>"></span>Nova União</h1></center>

<% new_unite_group %>
<%= render 'form', unite_matter: @unite_matter %>
</div>
<%= link_to 'Voltar', unite_matters_path, :class => 'btn btn-default' %>
