<%- model_class = Matter -%>
<div class="page-header noMarginTop">
  <center><h1><span class="glyphicon glyphicon-tags blue"></span> <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1></center>
</div>

<%= render :partial => 'form' %>
