<%- model_class = Matter -%>

<div class="page-header">

  <div style="color: black; float: right;">
    <%= search_form_for @q do |f| %>
        <%= f.text_field :name_or_code_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control' %>

    <% end %>
  </div>

  <h1><%=t('matters') %></h1>

</div>

<div id="matters_partial">
  <%= render 'matters' %>
</div>
