<%- model_class = Matter -%>

<div class="page-header noMarginTop">
  <center><h1><span class="glyphicon glyphicon-tags blue"></span> Disciplina</h1></center>
</div>

<% show_matter %>

<%= render :partial => 'form' %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              matters_path, :class => 'btn btn-default'  %>

<% if (user_admin? or user_secretary?) %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_matter_path(@matter), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                matter_path(@matter),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                :class => 'btn btn-danger' %>
<% end %>
