<%- model_class = Group -%>

<div class="page-header noMarginTop">

  <center><h1><span class="glyphicon glyphicon-th blue"></span> <%=t('groups')%></h1></center>
</div>

  <div class="searchBox noMarginTop">
    <%= search_form_for @q, url: search_groups_path, html: { method: :post } do |f| %>

      <!-- é só pra lembrar que tem que fazer...
      
    -->


      <%= f.text_field :name_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control', :style => 'width:180px', :id => "group_search_field" %>
    <% end %>

  </div>


<div id="groups_partial" class="marginBottom" >
  <%= render 'groups' %>
</div>
