<%- model_class = Group -%>
<div class="page-header">
  <center><h1><span class="<%=index_icon(group_icon)%>"></span> Criar <%=t('group')%></h1></center>
</div>

<% new_group %>

<%= render :partial => 'form' %>
