<div>
  <%= render 'table' %>
</div>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm noMarginTop">
      <%= render_pages(@elements, @page, "/users", @length).html_safe %>
    </ul>
  </nav>
</center>
