<%- model_class = User -%>

<div class="page-header noMarginTop">

  <center><h1><span class="glyphicon glyphicon-user blue"></span> Colaboradores</h1>

  <div class="searchBox">
    <%= search_form_for @q, url: search_users_path,html: { method: :post } do |f| %>
        <%= f.text_field :name_or_email_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control' %>

    <% end %>
  </div>

</div>

<div id="users_partial">
  <%= render 'users' %>
</div>
