<%- model_class = User -%>

<div class="page-header noMarginTop">

  <center><h1><span class="<%=index_icon(user_icon)%>"></span> Colaboradores</h1>

  <div class="searchBox">
    <%= search_form_for @q, url: search_users_path,html: { method: :post } do |f| %>
        <%= f.text_field :name_or_email_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control searcher' %>

    <% end %>
  </div>

</div>

<div id="users_partial" class="marginBottom">
  <%= render 'users' %>
</div>
