<div class="page-header noMarginTop">
  <% if !user_secretary? %>
    <center><h1><span class="glyphicon glyphicon-user blue"></span> Criar usuário</h1></center>
  <% else %>
    <center><h1><span class="glyphicon glyphicon-user blue"></span> Criar professor</h1></center>
  <% end %>
</div>

<%= render 'form', user: @user %>
