  <div class="panel panel-default" style="margin-bottom:70px; margin-top:35px;">
  </br>

  <% matters_order.each do |matter| %>

    <% matter_options(matter) %>
      <% if !@options.blank? %>
        <h4 class="center"><%= matter.code_with_name %></h4>

        <% @options.each do |option| %>

          <div style="margin: 10px; ">

            <%= option_schedules(option).html_safe %>
            <%= option_classes(option).html_safe %>

          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
