<%- model_class = Option -%>

<div class="page-header no-mt-mb">
  <h1 class="center"><span class="<%=index_icon(option_icon)%>"></span> <%=t('options')%></h1>

  <!-- Colocar pesquisa aqui... -->
  <div style="height: 35px;"></div> <!-- tirar isso -->

</div>

<% if @semester.options_selection? == true and @semester.options_finished != true %>
  <div id="options_partial" class="partial-content" >
    <%= render 'options' %>
  </div>
<% end %>
