<%- model_class = Option -%>

<div class="page-header noMarginTop">
  <center><h1><span class="<%=index_icon(option_icon)%>"></span> <%=t('options')%></h1></center>
</div>


<div id="groups_partial" class="marginBottom" >
  <%= render 'options' %>
</div>
