<h1><span class="glyphicon glyphicon-envelope blue"></span> Criar contato</h1>

<p> Entraremos em contato em breve, pelo email solicitado. </b> </p>

<%= link_to 'Voltar', new_contact_path, :class => 'btn btn-default btn-sm' %>
