<center><h1><span class="glyphicon glyphicon-envelope blue"></span> Criar contato</h1></center>

<%= render 'form', contact: @contact %>

<%= link_to 'Voltar', contacts_path, :class => 'btn btn-default btn-sm' %>
