<h1>Mensagem de contato</h1>
<h2>Data de envio: <%= @time %></h2>

<p><strong>Visitante: </strong><%= @contact.name %></p>

<p><strong>Email: </strong><%= @contact.email %></p>

<p><strong>Mensagem:</strong></p>
<p><%= @contact.message %></p>
