<div class="container">
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Escolher avaliador</h3>
				 </div>
				 <div class="modal-body">
					 <div class="form-group">

						 <%= form_tag(choose_appraiser_fichas_path, class: "form-horizontal group") do %>
						 	<input type="hidden" name="appraiser[ficha_id]" value=" <%= @ficha %> ">
				       <div class="form-group col-md-10 col-md-offset-1">
				         <%= collection_select(:appraiser, :id, appraisers, :id, :name, {}, {class: "ml-20 form-control"}) %>
				       </div>
							 <%= submit_tag "Salvar", class: "ml-40 btn btn-default" %>
						 <% end %>
			     </div>
				 </div>

				 <div class="modal-footer">
					<a href="" class="btn btn-primary white" data-dismiss="modal">Close</a>
				 </div>
			</div>
		</div>
	</div>
</div>
