<div class="container">
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				 <div class="modal-header">
				 	<button type="button" class="close" data-dismiss="modal">&times;</button>
				 	<h3 class="modal-title">Criar professor</h3>
				 </div>
				 <div class="modal-body">
				 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at pharetra sapien. Nulla scelerisque ex eget ligula ornare, vel efficitur quam dictum. Proin malesuada posuere risus suscipit mattis. Suspendisse potenti. Donec et odio nibh. Praesent auctor erat at nunc gravida tincidunt. Ut facilisis, ex ultricies scelerisque aliquam, ex lectus fermentum urna, quis auctor eros ante non dui.
				 </div>

				 <div class="modal-footer">
				 	<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				 	<a href="" class="btn btn-primary">Download</a>
				 </div>
			</div>
		</div>
	</div>
</div>

<!-- https://www.youtube.com/watch?v=7aMRk9q_QLM -->  
