<div style="margin-left: 20px; margin-right: 20px;">
  <table class="table table-striped">
    <thead>
      <tr class="header">

        <th><%= t('name') %></th>

        <th  width="15%"><center> <%=t '.actions', :default => t("helpers.actions") %> </center> </th>

      </tr>
    </thead>

    <tbody id="tbody">
      <% $teachers.each do |teacher| %>

        <tr>

          <td><%= teacher.name %></td>

          <td id="actions">
            <center>

              <button action='' type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#modal-1"><%= new_button.html_safe %></button>

            </center>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>
