<%- model_class = Ficha -%>
<div class="page-header noMarginTop">
  <center><h1><span class="glyphicon glyphicon-list-alt blue"></span> <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1></center>
</div>

<%= render :partial => 'form_new' %>
