.right {
  float: right;
  margin-right: 10px;
}
.right2 {
  float: right;
  margin-right: 83px;
  margin-bottom: 30px;
  font-size: 1em;
}
.right3 {
  float: right;
  margin-right: 5px;
}
.marginBottom2 {
  margin-bottom: 100px;
}
.marginBottom3 {
  margin-bottom: 20px;
}
.noMarginTop {
  margin-top: 0;
  margin-bottom: 0;
}
.marginBottom {
  margin-bottom: 15%;
}
.marginBottomContact {
  margin-bottom: 35%;
}
.fixed-bottom {
  margin-bottom: 0;
  margin-top: 0.1em;
}
.form-margin {
  margin-left: 20px;
  margin-right: 20px;
  width: 93%;
  max-width: 93%;
}
.width {
  width: 43%;
}

.juntar {
  margin-top: 9px;
  margin-left: -290px;
}
.txtName {
  width: 200px;
}
.txtNameShow {
  width: 600px;
}
.sizer {
  width: 380px;
}
.collection_select {
  size: 100px;
}
