/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
 cores: https://pt.wix.com/blog/2012/12/usando-as-cores-certas-para-o-seu-site/*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0;
  min-height: 100%;
  background: rgb(238, 238, 238);
}
.marginBottom2 {
  margin-bottom: 100px;
}
.marginBottom3 {
  margin-bottom: 20px;
}
.noMarginTop {
  margin-top: 0;
  margin-bottom: 0;
}
.marginBottom {
  margin-bottom: 15%;
}
.marginBottomContact {
  margin-bottom: 35%;
}
.padraoHeader {
  margin-top: 10px;
  margin-bottom: 20px;
}
.borderHeaderL {
  border-top-left-radius: 3px;
}
.borderHeaderR {
  border-top-right-radius: 3px;
}
.right {
  float: right;
  margin-right: 10px;
}
.right2 {
  float: right;
  margin-right: 83px;
  margin-bottom: 30px;
  font-size: 1em;
}
.right3 {
  float: right;
  margin-right: 5px;
}
.fixed-bottom {
  margin-bottom: 0;
  margin-top: 0.1em;
}
.form-margin {
  margin-left: 20px;
  margin-right: 20px;
  width: 93%;
  max-width: 93%;
}
.width {
  width: 43%;
}
.center {
  text-align: center;
}
.semesterOptions {
  text-align: left;
  margin-top: -38px;
  margin-left: -1px;
  margin-bottom: 20px;
  border-right-color: #dddddd;
  border-left-color: #dddddd;
  border-top-color: #dddddd;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100px;
  height: 20px;
  background-color: white;
  color: #000;
  text-align: center;
}
.padraoHeader {
  margin-top:10px;
  margin-bottom: 15px;
}
.padraoHeader2 {
  margin-bottom: 49px;
}
.juntar {
  margin-top: 9px;
  margin-left: -290px;
}
.txtName {
  width: 200px;
}
.txtNameShow {
  width: 600px;
}
.sizer {
  width: 380px;
}
.marginLeft {
  margin-left: -90px;
}
.collection_select {
  size: 100px;
}
.veryLess {
  width: 32,5%;
  display: inline-block;
  margin: 0px 5px 0px 5px;
}
.lessWishes {
  width: 64%;
  margin: 0 auto;
}
.less {
  width: 85%;
  margin-left: 80px;
}
.menu_font_size {
  font-size: 16px;
}

.blue {
  color:#455E8E;
}
.white {
  color: #fff;
}
.white:visited {
  color: #fff;
}
.white:active {
  color: #fff;
}
.white:hover {
  color: #fff;
}
.black{
  background-color: #000;
}
.invert {
  transform: scaleX(-1);
}
.width2 {
  width: 380px;
  display: inline-block;
}
.footer {
  text-align: center;
  width: 100%;
  background-color: #455E8E;
  color: #fff;
  clear: both;
  position: fixed;
  height: 4.0em;
  left: 0;
  margin-top: -0.80em;
  bottom: 0;
  z-index: 5;
}
.relacted {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.8em;
}
.pageLinks {
  display: inline-block;
  font-size: 0.8em;
}
.hrVertical {
  width: 1px;
  height: 60%;
  background-color: #fff;
  display: inline-block;
  vertical-align: sub;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}
.textNone {
  text-decoration: none;
  color: #fff;
}
.textNone:visited {
  color: #fff;
}
.textNone:hover {
  text-decoration: none;
  background-color: #455E85;
}

h1 {
  color: #444;
}

td { color: #000; }
tr:nth-child(even) {background-color: rgb(232, 232, 232)}
/* tr:hover {background-color: #888; color: black}*/

tr.header > th {
  color: white;
  opacity: 0.85;
  background-color: #455E8E;
}
label { color: #000; }
select { color: #000; }

div.dropdown-menu li a, button.dropdown-toggle {
  color: white;
  background-color: #455E8E;
  margin-top: 8px;
}
a.disable {
  color: white;
}

a.disable:link {
  color: white;
}

a.disable:hover {
  color: white;
}

a.disable:visited {
  color: white;
}

a.simple_button {
  color: black;
}

a.simple_button:link {
  color: black;
}

a.simple_button:hover {
  color: black;
}

a.simple_button:visited {
  color: black;
}
textarea.resize {
  max-width: 100%;
  min-width: 100%;
}
.panel-default > .panel-heading.header {
  background-color: #455E8E;
  color: white;
  opacity:0.85;
}

#menu_list > li > a, #home_link{
    color: white;
    background-color: #455E8E;
}

#menu_list > li > a:hover{
    color: white;
    background-color:rgb(56, 83, 135) ;
}

#menu_list li a.user_name_menu:hover{
    color: white;
    background-color: #455E8E;
}
li > a:hover{
    color: black;
}

.navbar.navbar-inverse {
    background-color: #455E8E;
}

.searchBox {
  color: black;
  float: right;

}
.newOption {
  margin-top: -2.66em;
  float: right;
  display: inline-block;
}
.newOption2 {
  float: left;
  display: inline-block;
}
.blueBtn {
  background-color: #455E8E;
}
.blueBtn:hover {
  background-color: #506ba0;
  border-color: #506ba0;
}

.error_mensage, div.has-error .help-block {
  margin-top: 0;
  margin-bottom: 0;
  color: #B22222;
}

.btnC {
  width: 200px;
  height: 50px;
  background-color: #4CAF50;
  border: 0;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;

}
.btnC:hover {
  background-color: #43A047;
  color:#fff;
}
.addAnother {
  float:right;
  margin-right:12px;
  margin-top:-6px;
  width:25px;
}

.addAnotherMsg {
  float:right;
  margin-right:0px;
  width:25px;
  margin-top: -6px;
  margin-left: 12px;
}
.addAnotherCopy {
  margin-right: 0px;
  margin-top: -6px;
  margin-left: 12px;
  float: right;
  width: 25px;
}
