/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
 cores: https://pt.wix.com/blog/2012/12/usando-as-cores-certas-para-o-seu-site/*/
body {
  margin: 0;
  min-height: 100%;
  background: rgb(238, 238, 238);
}

.badgesNone {
  display: none;
}

.menu_font_size {
  font-size: 16px;
}

.blue {
  color:#455E8E;
}
.white {
  color: #fff;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #455E8E;
  color: #fff;
  clear: both;
  position: fixed;
  height: 4.0em;
  left: 0;
  margin-top: -0.65em;
  bottom: 0;
  z-index: 5;
}
.fixed-bottom {
  margin-bottom: 0;
  margin-top: 0.1em;
}
.relacted {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.8em;
}
.pageLinks {
  display: inline-block;
  font-size: 0.8em;
}
.hrVertical {
  width: 1px;
  height: 60%;
  background-color: #fff;
  display: inline-block;
  vertical-align: sub;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}
.textNone {
  text-decoration: none;
  color: #fff;
}
.textNone:visited {
  color: #fff;
}
.textNone:hover {
  text-decoration: none;
  background-color: #455E85;
}

div.dropdown-menu li a, button.dropdown-toggle {
  color: white;
  background-color: #455E8E;
  margin-top: 8px;
}


a.disable {

  color: white;
}

a.disable:link {
  color: white;

}

a.disable:hover {
  color: white;

}

a.disable:visited {
  color: white;

}

a.simple_button {

  color: black;
}

a.simple_button:link {
  color: black;

}

a.simple_button:hover {
  color: black;

}

a.simple_button:visited {
  color: black;

}


textarea.resize {
  max-width: 100%;
  min-width: 100%;
}

.panel-default > .panel-heading.header {

  background-color: #455E8E;
  color: white;
  opacity:0.85;
}

#menu_list > li > a, #home_link{
    color: white;
    background-color: #455E8E;
}

#menu_list > li > a:hover{
    color: white;
    background-color:rgb(56, 83, 135) ;
}

#menu_list li a.user_name_menu:hover{
    color: white;
    background-color: #455E8E;
}

.navbar.navbar-inverse {
    background-color: #455E8E;
}


h1 {
  color: #444;
}
.sizer {
  width: 380px;
}
.searchBox {
  color: black;
  float: right;
  margin-bottom: 10px;
}
.newOption {
  margin-top: -2.66em;
  float: right;
  display: inline-block;
}
.newOption2 {
  float: left;
  display: inline-block;
}
.less {
  width: 85%;
  margin-left: 70px;
}
.blueBtn {
  background-color: #455E8E;
}
.blueBtn:hover {
  background-color: #506ba0;
  border-color: #506ba0;
}
td { color: #000; }


tr:nth-child(even) {background-color: rgb(232, 232, 232)}

/* tr:hover {background-color: #888; color: black}*/

tr.header > th {
  color: white  ;
  opacity: 0.85;
  background-color: #455E8E;
}


label { color: #000; }

select { color: #000; }


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: auto;
  padding: 3% 0 0;
  margin: 0;
}
.form-login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-login button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-login .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form-login .register-form {
  display: none;
}
.login-page .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.login-page .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.login-page .container .info {
  margin: 50px auto;
  text-align: center;
}
.login-page .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-page .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-page .container .info span a {
  color: #000000;
  text-decoration: none;
}
.login-page .container .info span .fa {
  color: #EF3B3A;
}
.login-body body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.black{
  background-color: #000;
}
.white:visited {
  color:#FFF;
}

.collection_select {
  size: 100px;
}

.error_mensage, div.has-error .help-block {
  margin-top: 0;
  margin-bottom: 0;
  color: #B22222;
}

li > a:hover{
    color: black;
}

.btnC {
  width: 200px;
  height: 50px;
  background-color: #4CAF50;
  border: 0;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;

}
.btnC:hover {
  background-color: #43A047;
  color:#fff;
}
.addAnother {
  float:right;
  margin-right:12px;
  margin-top:-6px;
  width:25px;
}
.addAnotherFicha {
  float:right;
  margin-top:-6px;
  width:25px;
}
.addAnotherMsg {
  float:right;
  margin-right:0px;
  width:25px;
  margin-top: -6px;
  margin-left: 12px;
}
.addAnotherCopy {
  margin-right: 0px;
  margin-top: -6px;
  margin-left: 12px;
  float: right;
  width: 25px;
}
.noMarginTop {
  margin-top: 0;
  margin-bottom: 0;
}
.marginBottom {
  margin-bottom: 15%;
}
.marginBottomContact {
  margin-bottom: 35%;
}
.loginPageNew {
  height:auto;
  margin-top: 0;
}
.width {
  width: 43%;
}
.width2 {
  width: 380px;
  display: inline-block;
}
.juntar {
  margin-top: 9px;
  margin-left: -290px;
}
.badges {
  margin-top: -13px;
  margin-left: 0px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: rgb(235, 11, 11);
  color: #fff;
  position: absolute;
  text-align: center;
}
.badgesTwo {
  margin-top: -13px;
  margin-left: 0px;
  border-radius: 50%;
  width: 20px;
  height: 17px;
  background-color: rgb(235, 11, 11);
  color: #fff;
  position: absolute;
  text-align: center;
}
.msgSent {

  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}
.msgReceived {

  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}

.speech-bubbleSent {
	position: relative;
	background: #4b6fb2;
	border-radius: .4em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color:#fff;
}
.speech-bubbleSent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-left-color: #4b6fb2;
	border-right: 0;
	margin-top: -10px;
	margin-right: -10px;
}
.speech-bubbleReceived {
	position: relative;
	background: #d1d1d1;
	border-radius: .4em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color:#000;
}
.speech-bubbleReceived:after {
	content: '';
	position: absolute;
	left: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-right-color: #d1d1d1;
	border-left: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.form-margin {
  margin-left: 20px;
  margin-right: 20px;
  width: 93%;
  max-width: 93%;
}
.right {
  float: right;
  margin-right: 10px;
}
.right2 {
  float: right;
  margin-right: 83px;
  margin-bottom: 30px;
  font-size: 1em;
}
.right3 {
  float: right;
  margin-right: 5px;
}
.marginBottom2 {
  margin-bottom: 100px;
}
.marginBottom3 {
  margin-bottom: 20px;
}
.txtName {
  width: 200px;
}
.txtNameShow {
  width: 600px;
}


;
