/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
 cores: https://pt.wix.com/blog/2012/12/usando-as-cores-certas-para-o-seu-site/*/
body {
  margin: 0 auto 0 auto;
  background: #CCC;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #222;
  text-align: center;
  color: white;
}

.footer2 {
  text-align: center;

}

a.disable {
  opacity:0.85;
  color: white;
}

a.disable:link {
  color: white;
}

a.disable:hover {
  color: white;
}

a.disable:visited {
  color: white;
}



textarea.resize {
  max-width: 100%;
  min-width: 100%;
}

.panel-default > .panel-heading.header {

  background-color: #455E8E;
  color: white;
  opacity:0.85;
}

#menu_list > li > a, #home_link{
    color: white;
    background-color: #455E8E;
}

#menu_list > li > a:hover{
    color: white;
    background-color: #000;
}

.navbar.navbar-inverse {
    background-color: #455E8E;
}


h1 {
  color: #444;
}

td { color: #000; }


tr:nth-child(even) {background-color: #ccc}

/* tr:hover {background-color: #888; color: black}*/

tr.header > th {
  color: white  ;
  background-color: #455E8E;
}

label { color: #000; }

select { color: #000; }


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.form-login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-login button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-login .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form-login .register-form {
  display: none;
}
.login-page .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.login-page .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.login-page .container .info {
  margin: 50px auto;
  text-align: center;
}
.login-page .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-page .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-page .container .info span a {
  color: #000000;
  text-decoration: none;
}
.login-page .container .info span .fa {
  color: #EF3B3A;
}
.login-body body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.black{
  background-color: #000;
}

.collection_select {
  size: 100px;
}

.error_mensage, div.has-error .help-block {
  margin-top: 0;
  margin-bottom: 0;
  color: #B22222;
}

;
