// Place all the styles related to the perform_backups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.performNow {
  margin:30px 0 50px 0;
}
.form-backups {
  margin:0 auto;
  width: 70%;
  height: 50%;
  text-align: center;
}
.days {
  width:100px;
  display: inline-block;
}
.time {
  width: 300px;
  display: inline-block;
}
.labelCada {
  display:inline-block;
  margin-right:10px;
  margin-left:20px;
}
.daysWidth {
  width:50px;
}
.labelDias {
  display:inline-block;
  margin-left:-40px;
}
.labelAs {
  display:inline-block;
  margin-left:30px;
  margin-right:-65px;
}
.selectTime {
  width: 70px;
  display: inline-block;
}
.btnAgendar {
  margin-left:-60px;
  margin-top:-3px
}
.spin {
  display: none;
  margin:0 auto;
  text-align:center
}
#linkBackup {
  target-new: tab ! important;
  background-color: transparent;
  text-decoration: none;
  color:rgb(81, 135, 199);
}
#linkBackup:hover {
  text-decoration: none;
  color:rgb(106, 156, 215);
}
