<p><h1>Olá!</h1></p>
<!-- Generizar-->
<p>Para a implementação do sistema de criação de ficha2
que está sendo criado para o departamento de matemática, é necessário confirmar
se todos os dados cadastrados estão corretos.</p>

<p>Por favor, verifique se seus dados estão corretos e, caso estejam corretos, <b>ignore esse email</b>,
caso contrário, por gentileza responda esse e-mail com seus dados corretos.</p>

<p><b>Nome: <%= @resource.name %></b></p>
<p><b>E-mail: <%= @resource.email %></b></p>

<p>Muito obrigado!</p>
