
<div class="center" style=" color: white;">
  <% if @action == :generate %>
    <h4>Gerado com sucesso.</h4>

  <% elsif @action == :start %>
    <h4>Iniciado com sucesso.</h4>

  <% elsif @action == :remove %>
    <h4>Removido com sucesso.</h4>

  <% elsif @action == :end %>
    <h4>Finalizado com sucesso.</h4>

  <% end %>

</div>
