<h1 class="center"><span class="<%=index_icon(account_icon)%>"></span> Administrar opções</h1>

<div id="alert-partial"></div>

<div id="partial-manage-options">
  <%= render 'manage_options' %>
</div>

<div id="spinner" class="center spinner">
  <div class="showbox">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
  </div>
  <h4 id="loading-action" style="margin-top:260px;"></h4>
</div>
