<%= form_tag(add_general_comments_availabilities_path, remote: true) do %>

<input name="id" type="hidden" value="<%= @availability.id %>" />

	<div class="col-md-10">
		<div class="form-group">
			<%= text_area_tag :general_comments, "#{@availability.general_comments}", {placeholder: "Escreva um comentário",
				 	rows:4, :maxlength => 255, class: 'form-control max-form', id: "general-comment"} %>
		</div>

	</div>

	<div class="col-md-2" style="margin-top: 2px;">

		<%= button_tag(type: "submit", class: "btn btn-success btn-sm") do
			"Salvar"
		end %>

	</div>
	<% end %>
