<%= form_tag(add_availability_comments_availabilities_path, remote: true) do %>
	<input name="id" type="hidden" value="<%= @availability.id %>" />

	<div class="col-md-10">
		<div class="form-group">
			<%= text_area_tag :comments, "#{@availability.comments}", {placeholder: "Escreva uma justificativa",
					:maxlength => 255, rows: 4, class: 'form-control max-form', id: "comment"} %>
		</div>

	</div>

	<div class="col-md-2" style="margin-top: 2px;">

		<%= button_tag(type: "submit", class: "btn btn-success btn-sm") do
			"Salvar"
		end %>

	</div>
<% end %>
