
<div class="row" style="margin: 10px 0 0 10px">

		<h4 class="center"> Justificativa das restrições</h4>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<div id="commented">
					<% if @availability.comments.blank? %>
							<%= link_to "Clique aqui para inserir", open_availability_comments_availabilities_path(@availability),
							button_configs(:select, "btn-sm btn btn-success simple_button col-md-offset-3 col-md-6", {style: 'margin-bottom: 10px;color:white', remote: true}) %>
					<% else %>

						<div class="col-md-10">
							<div class="form-control" style="height: 100px;">
								<%= @availability.comments %>
							</div>
						</div>

						<div id="edited" class="col-md-2" style="margin-top: 2px;">
							<%= link_to "Editar", change_comments_availabilities_path(@availability),
									button_configs(:edit, "btn btn-default btn-sm simple_button", {style: 'margin-bottom: 10px;', remote: true}) %>
						</div>
				<% end %>
			</div>

		</div>
	</div>
</div>
