<h3 class="center col-md-offset-1 col-md-10">
	Justificativa
</h3>
<% if @availability.comments.blank? %>
	<%= link_to "Selecionar", open_availability_comments_availabilities_path(@availability),
			button_configs(:select, "btn btn-success simple_button col-md-12", {style: 'margin-bottom: 10px;', remote: true}) %>
<% else %>

<div class="col-md-10" style="padding: 0 0 0 0px; margin-left: 0px;">
		<div class="form-control" style="padding-left: 16px;height:auto">
			<%= @availability.comments %>
		</div>
</div>

<div class="col-md-2" style="padding: 0 0 0 3px; margin-top: 2px;">
<%= link_to simple_edit_button.html_safe, change_comments_availabilities_path(@availability),
		button_configs(:edit, "btn btn-default simple_button", {style: 'margin-bottom: 10px;', remote: true}) %>
</div>

<% end %>
