<h3 class="center col-md-offset-1 col-md-10 mt-80">
	Professor pesquisador?
</h3>

<div id="researcher-field">
	<%= form_tag(is_researcher_availabilities_path, remote: true) do %>

	<input name="id" type="hidden" value="<%= @availability.id %>" />

	<div class="col-md-1 col-md-offset-5"  style="padding: 0px;">
		<div class="form-control" style="padding-left: 16px;height:auto;width:60px">
			<%= is_researcher %>
		</div>
	</div>

	<div class="col-md-1" style="margin-top: 2px;">
		<%= link_to simple_edit_button.html_safe, change_researcher_availabilities_path(@availability),
		button_configs(:edit, "btn btn-default simple_button", {style: 'margin-bottom: 10px;', remote: true}) %>
	</div>




	<% end %>

	<h6 class="justify col-md-offset-1 col-md-10">
		Segundo decisão da plenária departamental, em sua 266ª reunião, realizada em 02/05/07, professor-pesquisador é todo professor do quadro efetivo que: 1. É pesquisador do CNPq ou 2. Faz parte de grupo de pesquisa do CNPq e publicou pelo menos um artigo nos últimos dois anos em revista que satisfaz a uma das seguintes condições: a) QUALIS A ou B ou b) é indexada no Web of Science e tem fator de impacto superior a 0,300.
	</h6>
</div>
